<!DOCTYPE html>
<html lang="en">

{{>header}}
<body>
{{> nav}}

{{{body}}}

</body>
{{>footer}}

<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"></script>


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<script src="/js/realtimeRenderings.js"></script>

</body>

</html>