html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.error{
    margin-left:40%;
}

.logo{
    float: right;
    height: 60px;
}

.login-form{
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}

.username{
    height: 15px;
    width: 90px;
}

.password{
    height: 15px;
    width: 90px;
}

.login-button{
    height: 20px;
    font-size: 10px;
    float: left;
}

.container{
    right:100%;
}

.row{
    margin-left: 70%;
    margin-top: 5%;
}

.col s12 m6{
    width:50%;
    margin-left: 40%;
}

.issue{
    width: 50%;
}

#list-issues{
    margin-left:40%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.background{
    height:120%
}

.create-container{
    margin-top:5%;
    margin-left: 20%;
    height: 50%;
    width: 50%;

}

.user-background{
    image-resolution: 50dppx;
    height: 20%;
}
