html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.error{
    margin-left:40%;
}

.logon{
    float: right;
    margin: 10px;
    height: 100px;
}

.login-form{
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}

.username{
    height: 15px;
    width: 90px;
}

.password{
    height: 15px;
    width: 90px;
}

.login-button{
    height: 20px;
    font-size: 10px;
    float: left;
}

.container{
    right:100%;
}

.row{
    margin:15%;
    margin-top: 5%;
}

.issue{
    width: 50%;
}

#list-issues{
    margin-left:40%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.background{
    height:130%
}

.user-background{
    resize: both;
}
